  *{
    margin:0;
    padding:0;
    font-family: SiyuanHeiTi,Avenir, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
  }
  .el-header,.el-main ,.el-footer{
    margin: 0;
    padding: 0;
  }
  .el-main{
    overflow: hidden;
  }
  